html {
	scroll-behavior: smooth;
}
body {
	background-color: black;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	color: rgb(255, 255, 255);
	font-family: "Inter", sans-serif;
	font-size: 18px;
}
body a {
	color: white;
}
body a:hover {
	color: #bdae82;
	transition: 0.5s;
}
h2 {
	font-family: "Merriweather", serif;
	font-size: 40px;
	font-weight: bold;
	color: #bdae82;
	text-align: center;
	margin: 0 20px;
}
.section-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 85px;
}
main span {
	border-top: 2px solid #bdae82;
	width: 275px;
}
.button {
	width: 220px;
	height: 55px;
	display: block;
	background-color: #bdae82;
	text-align: center;
	font-size: 20px;
	color: black;
	line-height: 52px;
}
.button:hover {
	color: white;
	transition: 0.5s;
}
@media (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
	h2 {
		font-size: 32px;
	}
}
@media (max-width: 767px) {
	.button {
		width: 30%;
		height: auto;
		line-height: 30px;
		font-size: 16px;
	}
}

/****************************/
/******** HEADER ************/
/****************************/

.header-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 21px 0;
	background: url(../assets/jpg/hero-bg.jpg) no-repeat center 2px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 20px;
}
.header-right {
	display: flex;
}
.header__burger {
	display: none;
}
.nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-list li {
	margin: 0 15px;
}
.header-right a {
	font-size: 20px;
}
.language-toggle {
	margin-left: 19px;
}
.language-toggle a:first-child {
	color: #bdae82;
}
.language-toggle span {
	margin: 0 6px 0 4px;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
}
.header-logo:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
	transition: 0.5s;
}
@media (max-width: 768px) {
	.header-container {
		padding: 20px 0 18px 0;
		background: url(../assets/jpg/hero-bg.jpg) no-repeat;
		background-position: -15px -35px;
		background-size: 130%;
		position: relative;
	}
	nav {
		padding: 0 64px 0 60px;
	}
	.nav-list {
		display: block;
		position: fixed;
		top: 0;
		right: -1000px;
		width: 620px;
		height: 100%;
		background-color: black;
		padding: 153px 0 0 126px;
		transition: all 0.5s ease 0s;
		z-index: 2;
	}
	.nav-list.active {
		right: 0;
		overflow: auto;
	}
	.nav-list a {
		font-size: 35px;
	}
	.nav-list li {
		margin: 0 0 54px 0;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 50px;
		height: 28px;
		margin-left: 21px;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 3px;
		left: 0;
		top: 13px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before {
		top: 0;
	}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger.active::before {
		transform: rotate(45deg);
		top: 12px;
	}
	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 13px;
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.language-toggle {
		margin-left: 19px;
		align-self: center;
	}
	.language-toggle span {
		margin: 0 15px 0 5px;
		vertical-align: middle;
		font-size: 20px;
		font-weight: bold;
	}
}
@media (max-width: 767px) {
	.nav-list {
		width: 100%;
	}
}
@media (max-width: 619px) {
	.header-container {
		padding: 15px 0;
		background: black;
	}
	nav {
		padding: 0 5%;
	}

	.nav-list a {
		font-size: calc(22px + 8 * ((100vw - 320px) / (1280 - 320)));
	}
	.nav-list li {
		margin: 0 0 30px 0;
	}
	.header-logo {
		width: 30px;
		height: 30px;
	}
	.header__burger span {
		text-align: right;
		width: 70%;
		height: 2px;
		left: 15px;
		top: 13px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: #fff;
		position: absolute;
		width: 70%;
		height: 2px;
		left: 15px;
		transition: all 0.3s ease 0s;
	}
	.header__burger::before {
		top: 3px;
	}
	.header__burger::after {
		bottom: 3px;
	}
	.header-right {
		justify-content: flex-end;
	}
	.language-toggle span {
		margin: 0 5px 0 5px;
	}
}

/****************************/
/********** HERO ************/
/****************************/

.hero {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	background: url(../assets/jpg/hero-bg.jpg) no-repeat center -90px;
	padding: 187px 0 330px 80px;
}
.hero-content {
	max-width: 480px;
	max-height: 330px;
}
.hero-content__title {
	font-family: "Merriweather", serif;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 41px;
}
.hero-content p {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 25px;
}
@media (max-width: 768px) {
	.hero {
		background: url(../assets/jpg/hero-bg.jpg) no-repeat;
		background-position: -15px -123px;
		background-size: 130%;
		padding: 97px 0 150px 60px;
	}
	.hero-content {
		max-width: 390px;
		height: auto;
	}
	.hero-content__title {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 37px;
	}
	.hero-content p {
		max-width: 388px;
		margin-bottom: 61px;
		line-height: 23px;
	}
}
@media (max-width: 650px) {
	.hero {
		background: url(../assets/jpg/hero-bg.jpg) no-repeat center center;
		background-size: cover;
		padding: 7% 10% 130% 5%;
	}
	.hero-content__title {
		font-size: calc(29px + 8 * ((100vw - 320px) / (1280 - 320)));
		margin-bottom: 30px;
	}
	.hero-content p {
		font-size: calc(14px + 8 * ((100vw - 320px) / (1280 - 320)));
		max-width: 235px;
		line-height: 23px;
		margin-bottom: 25px;
	}
}
@media (max-width: 480px) {
	.hero {
		background: url(../assets/jpg/hero-bg.jpg) no-repeat center center;
		background-size: cover;
		padding: 20% 10% 87% 5%;
	}
	.hero-content__title {
		margin-bottom: 8vw;
	}
}

/****************************/
/********* SKILLS ***********/
/****************************/

.skills {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 120px 11px 0;
}
.skills-header {
	padding-bottom: 65px;
}
.skills-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.scills-item {
	flex: 0 1 340px;
	text-align: center;
	padding: 0 30px;
	margin: 15px 0;
}
.scills-item__title {
	font-size: 20px;
	font-weight: 700;
	margin: 60px 0 30px 0;
}
.scills-item__content {
	line-height: 36px;
}
@media (max-width: 768px) {
	.skills {
		max-width: 768px;
		padding: 105px 43px 0 39px;
	}
	.skills-header {
		padding-bottom: 55px;
	}
	.skills span {
		max-width: 120px;
	}
	.skills-list {
		padding-bottom: 60px;
		justify-content: center;
	}
	.scills-item {
		margin-bottom: 60px;
		margin-left: 2px;
		margin-right: 1px;
	}
	.scills-item__title {
		margin: 40px 0 31px 0;
	}
	.scills-item__content {
		line-height: 22px;
	}
}
@media (max-width: 580px) {
	.skills {
		padding: 40px 11px 0;
	}
	.skills span {
		max-width: 10%;
	}
}

/****************************/
/******** PORTFOLIO *********/
/****************************/

.portfolio {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 116px 7.5px 0;
}
.portfolio-header {
	padding-bottom: 74px;
}
.portfolio-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 42.5px;
}
.portfolio-buttons__item {
	margin: 5px 2.7px;
	flex: 0 1 220px;
	min-width: 160px;
}
.portfolio span {
	border-top: 2px solid #bdae82;
	width: 240px;
}
.portfolio-buttons__item {
	background-color: black;
	border: 2px solid #bdae82;
	color: #bdae82;
}
.portfolio-buttons__item.current {
	border: 2px solid #bdae82;
	background-color: #bdae82;
	color: black;
}
.portfolio-buttons__item:hover {
	color: white;
	transition: 0.5s;
}
.portfolio-imagies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.portfolio-imagies,
.portfolio-imagies,
.portfolio-imagies,
.portfolio-imagies {
	display: none;
}
.portfolio-imagies.active,
.portfolio-imagies.active,
.portfolio-imagies.active,
.portfolio-imagies.active {
	display: flex;
}

.portfolio-imagies__item {
	flex: 1 1 450px;
	margin: 12.5px;
	object-fit: contain;
	max-width: 100%;
}
@media (max-width: 768px) {
	.portfolio {
		padding: 63px 156px 7.5px;
	}
	.portfolio-header {
		padding-bottom: 71px;
	}
	.portfolio span {
		width: 89px;
	}
	.portfolio-buttons {
		flex-wrap: wrap;
		margin-bottom: 45.5px;
	}
	.portfolio-buttons__item {
		margin: 2.5px;
		flex: 0 1 220px;
	}
}
@media (max-width: 761px) {
	.portfolio {
		padding: 63px 10px 7.5px;
	}
	.portfolio-buttons__item {
		margin: 5px;
	}
	.portfolio-imagies.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.portfolio-imagies__item {
		flex: 1 1 auto;
		margin: 5px 0;
		object-fit: contain;
		max-width: 100%;
	}
	.portfolio-imagies__item {
		object-fit: cover;
	}
	.portfolio span {
		width: 10%;
	}
}
@media (max-width: 580px) {
	.portfolio {
		padding: 40px 7.5px 0;
	}
}

/****************************/
/********** VIDEO ***********/
/****************************/

.video {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 107.5px 20px 0;
}
.video span {
	border-top: 2px solid #bdae82;
	width: 273px;
}
.video-header {
	padding-bottom: 80px;
}
.video-img {
	width: 100%;
	height: 705px;
	background: url(../assets/jpg/video-player.jpg) no-repeat center center;
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video-img img:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
	transition: 0.5s;
}
.video-img button {
	background-color: transparent;
	width: 130px;
	height: 130px;
}
@media (max-width: 768px) {
	.video {
		padding: 83.5px 0 0 0;
	}
	.video span {
		width: 15%;
	}
	.video-header {
		padding-bottom: 74px;
	}
	.video-img {
		width: 768px;
		max-width: 100%;
		height: 418px;
		background: url(../assets/jpg/video-player_768.jpg) no-repeat center center;
		background-size: cover;
	}
	.video-img img {
		width: 64.6px;
		height: 64.7px;
	}
}
@media (max-width: 500px) {
	.video {
		padding: 40px 0 70px 0;
	}
	.video span {
		width: 10%;
	}
	.video-img {
		background: url(../assets/jpg/video-player_768.jpg) no-repeat 13% center;
	}
	.video-img img {
		width: 40px;
		height: 40px;
	}
}

/****************************/
/********** PRICE ***********/
/****************************/

.price {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 120px 0 91px;
}
.price-header {
	margin: 0 auto;
	padding: 0 0 70px 0;
	text-align: center;
}
.price span {
	border-top: 2px solid #bdae82;
	width: 280px;
}
.price-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.price-list__item {
	flex: 0 1 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #bdae82;
	padding: 55px 0 40px 0;
	margin: 10px 12.5px;
}
.price-list__title {
	font-family: "Merriweather", serif;
	font-size: 28px;
	font-weight: bold;
}
.price-price {
	font-family: "Merriweather", serif;
	font-size: 24px;
	font-weight: bold;
	color: #bdae82;
	margin: 40px 0 27px;
}
.price-list__item p {
	line-height: 36px;
}
.price-list__button {
	margin-top: 39px;
}

@media (max-width: 768px) {
	.price {
		padding: 104px 20px 0;
	}
	.price-header {
		padding: 0 0 73px 0;
	}
	.price span {
		width: 121px;
	}
	.price-list__item {
		flex: 0 1 422px;
		border: 3px solid #bdae82;
		margin: 0 0 49px 0;
	}
}
@media (max-width: 500px) {
	.price {
		padding: 40px 20px 0;
	}
	.price-header {
		padding: 0 0 60px 0;
	}
	.price-list__button {
		width: 55%;
		height: 40px;
		min-width: 170px;
	}
	.price span {
		width: 10%;
	}
}

/****************************/
/********* CONTACTS *********/
/****************************/

.contacts {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 81px 0 195px 0;
	background: url(../assets/jpg/contacts-bg.jpg) no-repeat center;
	background-size: 100%;
}
.contacts-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	padding: 0 20px 0 970px;
}
.contacts-content__title {
	margin: 0 0 60px 0;
}
input[type="email"],
input[type="tel"],
textarea {
	display: block;
	background: none;
	border: 2px solid #bdae82;
	margin-bottom: 20px;
	padding-left: 18px;
	font-family: "Inter", sans-serif;
	color: #fff4df;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
input::placeholder,
textarea::placeholder {
	font-family: "Inter", sans-serif;
	color: #bdae82;
	font-size: 20px;
}
input[type="email"],
input[type="tel"] {
	width: 450px;
	height: 50px;
}
textarea {
	width: 450px;
	height: 100px;
	padding-top: 10px;
	resize: none;
}
.contacts-content__button {
	margin: 30px 0 0 0;
}
@media (max-width: 1435px) {
	.contacts {
		padding: 76px 0 110px 0;
		margin-top: 30px;
		background: url(../assets/jpg/contacts-bg-768.jpg) no-repeat;
		background-size: cover;
	}
	.contacts-content {
		align-items: center;
		padding: 0;
	}
	.contacts-content__title {
		margin: 0 0 56px 0;
	}
	.contacts-content__button {
		display: block;
		margin: 30px auto 0 auto;
	}
}
@media (max-width: 767px) {
	.contacts-content {
		align-items: flex-end;
		padding-right: 5%;
	}
	input[type="email"],
	input[type="tel"] {
		width: 100%;
		height: 50px;
	}
	textarea {
		width: 100%;
		height: 100px;
		padding-top: 10px;
		resize: none;
	}
	input::placeholder,
	textarea::placeholder {
		font-family: "Inter", sans-serif;
		color: #bdae82;
		font-size: 20px;
	}
	input[type="email"],
	input[type="tel"],
	textarea {
		border: 2px solid #d4b886;
		background-color: #bdae8257;
	}
	input[type="email"]:focus,
	input[type="tel"]:focus,
	textarea:focus {
		background-color: #f8f8f800;
	}
	.contacts-content__title {
		color: #d8b064;
		margin: 0 0 40px 0;
	}
	.contacts-content__button {
		display: block;
		margin: 30px 0 0 auto;
		border: 2px solid #bdae82;
		font-size: 16px;
		width: 150px;
		height: 55px;
		padding: 10px;
	}
}
@media (max-width: 480px) {
	.contacts {
		background: url(../assets/jpg/contacts-bg-768.jpg) no-repeat -58px center;
		padding-top: 55px;
	}
	input[type="email"],
	input[type="tel"] {
		width: 70%;
		height: 50px;
		margin: 30px 0 0 auto;
	}
	textarea {
		width: 70%;
		height: 100px;
		padding-top: 10px;
		resize: none;
		margin: 30px 0 0 auto;
	}
	input::placeholder,
	textarea::placeholder {
		color: #fde8a8;
	}
}

/****************************/
/********** FOOTER **********/
/****************************/

.footer {
	max-width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 50px 20px;
	background-color: black;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-item {
	flex: 0 1 auto;
	display: flex;
	align-items: center;
}
.privacy span:nth-child(2) {
	margin: 0 25px 0 20px;
}
.scope-link {
	padding: 0 0 0 27px;
}
.social ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social ul li:not(:last-child) {
	margin-right: 20px;
}
.footer-item img:hover {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
	transition: 0.5s;
}
footer .gh-link__img:hover {
	filter: invert(26%) sepia(15%) saturate(208%) hue-rotate(7deg) brightness(92%) contrast(400%);
	transition: 0.5s;
}
@media (max-width: 768px) {
	.footer {
		height: 190px;
		padding: 16px 0 35px 0;
		display: flex;
		flex-direction: column;
	}
	.privacy span:nth-child(2) {
		margin: 0 37px 0 20px;
	}
	.scope-link {
		padding: 0;
	}
	.scope-link {
		margin: 7px 0 30px 0;
	}
	.footer-item {
		align-items: flex-start;
	}
	.social ul {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.privacy {
		align-items: center;
	}
}
@media (max-width: 480px) {
	.footer {
		height: 130px;
		padding: 16px 0 16px 0;
		display: flex;
		flex-direction: column;
	}
	.footer-item img {
		width: 25px;
		height: 25px;
	}
	.scope-link {
		margin: 0;
	}
}
