.wrapper {
	width: 1440px;
	margin: 0 auto;
	background-color: black;
	color: rgb(255, 255, 255);
	font-family: "Inter", sans-serif;
	font-size: 18px;
}
body a {
	color: white;
}
h2 {
	font-family: "Merriweather", serif;
	font-size: 40px;
	font-weight: bold;
	color: #bdae82;
	text-align: center;
	margin: 0 20px;
}
.section-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 85px;
}
main span {
	border-top: 2px solid #bdae82;
	width: 275px;
}
.button {
	width: 220px;
	height: 55px;
	display: block;
	background-color: #bdae82;
	text-align: center;
	font-size: 20px;
	color: black;
	line-height: 56px;
}

/****************************/
/******** HEADER ************/
/****************************/

.header-container {
	width: 1440px;
	margin: 0 auto;
	padding: 25px 0;
	background: url(/assets/jpg/hero-bg.jpg assets/jpg/hero-bg.jpg) no-repeat center 0;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.header-logo {
}
.header-right {
	display: flex;
}
.nav-list {
	display: flex;
	justify-content: space-between;
}
.nav-list li {
	margin: 0 15px;
}
.header-right a {
	font-size: 20px;
}
.language-toggle {
	margin-left: 19px;
}
.language-toggle a:first-child {
	color: #bdae82;
}
.language-toggle span {
	margin: 0 6px 0 4px;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
}

/****************************/
/********** HERO ************/
/****************************/

.hero {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	background: url(assets/jpg/hero-bg.jpg) no-repeat center -90px;
	padding: 189px 0 330px 80px;
}
.hero-content {
	max-width: 480px;
	max-height: 330px;
}
.hero-content__title {
	font-family: "Merriweather", serif;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 41px;
}
.hero-content p {
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 25px;
}

/****************************/
/********* SKILLS ***********/
/****************************/

.skills {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 120px 0 0 0;
}
.skills-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.scills-item {
	flex: 0 1 340px;
	text-align: center;
	padding: 0 30px;
}
.scills-item__img {
}
.scills-item__title {
	font-size: 20px;
	font-weight: 700;
	margin: 60px 0 35px 0;
}
.scills-item__content {
	line-height: 36px;
}

/****************************/
/******** PORTFOLIO *********/
/****************************/

.portfolio {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 120px 7.5px 0;
}
.portfolio-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 47.5px;
}
.portfolio-buttons {
}
.portfolio-buttons__item:not(:last-child) {
	margin-right: 5px;
	background-color: black;
	border: 2px solid #bdae82;
	color: #bdae82;
}
.portfolio-imagies {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.portfolio-imagies__item {
	flex: 1 1 450px;
	margin: 12.5px;
}

/****************************/
/********** VIDEO ***********/
/****************************/

.video {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 107.5px 20px 0;
}
.video-img {
	position: relative;
}
.video-img img {
	display: block;
	margin: 0 auto;
}
.video-img_hover {
	position: absolute;
	visibility: hidden;
	z-index: 10;
	top: 287.5px;
	left: 635px;
	filter: hue-rotate(20deg);
}
.video-img_main:hover + .video-img_hover {
	visibility: visible;
}

/****************************/
/********** PRICE ***********/
/****************************/

.price {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 107.5px 5px 100px;
}
.price-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.price-list__item {
	flex: 0 1 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #bdae82;
	padding: 60px 0 40px 0;
	margin: 0 12.5px;
}
.price-list__title {
	font-family: "Merriweather", serif;
	font-size: 28px;
	font-weight: bold;	
}
.price-price {
	font-family: "Merriweather", serif;
	font-size: 24px;
	font-weight: bold;
	color: #bdae82;	
	margin: 45px 0 40px;
}
.price-list__item p {
	line-height: 36px;
}
.price-list__button {
	margin-top: 30px;
}

/****************************/
/********* CONTACTS *********/
/****************************/

.contacts {
	width: 1440px;	
	margin: 0 auto;
	padding: 85px 0 195px 0;
	background: url(assets/jpg/contacts-bg.jpg) no-repeat center;
}
.contacts-content {	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	padding: 0 20px 0 970px;		
}
.contacts-content__title {
	margin: 0 0 65px 0;
}
input[type = 'email'], input[type = 'tel'], textarea {
	display: block;
	background: none;
	border: 2px solid #bdae82;	
	font-family: "Inter", sans-serif;
	color: #bdae82;
	font-size: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
}
input[type = 'email'], input[type = 'tel'] {
	width: 450px;
	height: 50px;
}
textarea {
	width: 450px;
	height: 100px;
	padding-top: 5px;	
}

/****************************/
/********** FOOTER **********/
/****************************/

.footer {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 60px 20px;
	background-color: black;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.footer-item {
	flex: 0 1 auto;
}
.privacy {
}
.gh-link {
}
.scope-link {
}
.rs-link {
}
.social ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.social li {
	margin: 0 15px;
}
.social li:last-child {
	margin: 0 0 0 15px;
}
/*
h2::before {
	content: "";
	display: inline-block;
	line-height: 25px;
	border-top: 3px solid #bdae82;
	position: absolute;
	z-index: 10;
	width: 340px;
	top: 19px;
	left: 18%;
}
h2::after {
	content: "";
	display: inline-block;
	line-height: 25px;
	border-top: 3px solid #bdae82;
	position: absolute;
	z-index: 10;
	width: 340px;
	top: 19px;
	left: 57%;
}
*/
